<div>
  <h2>New book</h2>
  <%= form_with model: @book, local: true do |f| %>
  <div>
    <label for="book_title">Title</label><br>
    <%= f.text_field :book_title, id:"book_title" %>
  </div>

  <div>
    <label for="book_body">Opinion</label><br>
    <%= f.text_area :book_body, id:"book_body" %>
  </div>

  <div>
    <%= f.submit "Create Book" %>
  </div>
  <% end %>
</div>