<div>
  <h2>User info</h2>
  <%= attchment_image_tag @user, :profile_image, size: "60x60", format: 'jpeg', fallback: "no_image.jpg" %>
  <table>
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th>
          <%= @user.username %>
        </th>
      </tr>
      <tr>
        <th>introduction</th>
        <th>
          <%= @user.introduction %>
        </th>
      </tr>
    </tbody>
  </table>
</div>